*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
  --Light-Gradient: hsl(236, 72%, 79%);
  --Dark-Gradient: hsl(237, 63%, 64%);
}

  body{
    width: 100%;
    background:var(--Very-Light-Grayish-Blue);
  }

  header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  .wrapper-header{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 70%;
    color: var(--Grayish-Blue);
  }

  header h2{
    font-size: 2em;
  }

  .wrapper-button{
    margin-top: 2.5rem;
    width: 100%;
    height: 2rem;
    /* background:rgba(204, 204, 204, 0.568); */
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 1.9rem;
  }

  .wrapper-button > p {
    font-size: .9em;
    color: var(--Light-Grayish-Blue);
    font-size: .95rem;
  }

  .handle-checkbox{
    opacity: 0;
    position: absolute;
    display: flex;
  }

  .handle-button{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
  }

  .handle-button::after,
  .handle-button::before{
    content: "";
    transition: .2s ease-out;
  }
  
  .handle-button::before{
    display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
    width: 3.5rem;
    height: 2rem;
    background: var(--Dark-Gradient);
    border-radius: 30px;
  }
  
  .handle-button::after{
    position:absolute;
    top: .35rem;
    left: .6rem;
    width:1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 1rem;
  }

  .handle-checkbox:checked + .handle-button::after{
    left: 2rem;
  }

  .handle-checkbox:checked + .handle-button::before{
    background: var(--Light-Gradient);
  }

  main{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }

  .wrapper-main{
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 2.2rem;
    align-items: center;
    justify-content: center;
  }

  .card{
    width: 88%;
    height: 28.3rem;
    background: #fff;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card > h3{
    color: var(--Dark-Grayish-Blue);
    opacity: 80%;
    margin: 2.1rem 0 0 0;
  }

  .card:nth-child(2){
    background: linear-gradient(140deg,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff;
  }

  .card:nth-child(2) h1,
  .card:nth-child(2) h2,
  .card:nth-child(2) h3,
  .card:nth-child(2) .details b{
    color: white;
    opacity: 100%;
  }

  .card:nth-child(2) .details b{
    border-top: 1px solid #fff;
  }

  .card:nth-child(2) .details b:last-of-type{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .card:nth-child(2) a{
    background: #fff;
    color: var(--Dark-Gradient);
  }

  .price{
    display: flex;
    align-items: center;
    margin: 1.3rem 0 0 0 ;
    gap: .5rem;
    color: var(--Dark-Grayish-Blue);
  }

  .price > h2{
    font-size: 2.3rem;
  }

  .price > h1{
    font-size: 4.3rem;
  }

  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 1.8rem;
  }
  
  .details b{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .95rem;
    width: 80%;
    color: var(--Grayish-Blue);
    border-top: 1px solid var(--Light-Grayish-Blue);
    padding: 1rem;
  }

  .details b:last-of-type{
    border-top: 1px solid var(--Light-Grayish-Blue);
    border-bottom: 1px solid var(--Light-Grayish-Blue);
  }

  .card > a{
    margin-top: 2rem;
    padding: .8rem 5.3rem;
    background: linear-gradient(to right,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    text-decoration: none;
    color: #fff;
    border-radius: .5rem;
    font-size: .9rem;
  }